body{
    margin: 0;
}

header{
    background-color: rgb(111, 0, 255);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    font-size: 20px;
}

footer{
    background-color: rgb(30, 255, 0);
    color: rgb(111, 0, 255);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer li{
    list-style: none;

}

nav{
    background-color: gray;
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    
}
nav ul{
    display: flex;
}

nav li{
    list-style: none;
    padding: 1rem;
    font-size: 20px;
    padding: 0,5rem;
}

li a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    transition: 0.2s;
    border-radius: 1rem;
    padding: 1rem;

}

li a:hover{
    color: rgb(111, 0, 255);
    background-color: dimgrey;

}

.container{
    width: 60vw;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.container h2{
    text-align: center;
}

.container input{
    width: 60vw;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid black;
    
}

.container input:hover{
    background-color: #ddd6df;
}

.container button{
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid black;
    width: 62.5vw;
    cursor: pointer;
    background-color: rgb(111, 0, 255);
    color: white;
}
.container button:hover{
    background-color: rgb(30, 15, 56);
}